<mat-toolbar color="primary">
  <span>Product Organizer</span>
  <span class="toolbar-spacer"></span>
  <button
    mat-button
    fxLayout="row"
    *ngIf="(currentRoute$ | async) === ROUTES.LIST; else backToList"
    routerLink="/create"
  >
    <mat-icon class="margin-right-sm">add</mat-icon>
    <span>Create product</span>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>

<ng-template #backToList>
  <button mat-button routerLink="/">
    <mat-icon class="margin-right-sm">arrow_back</mat-icon>
    <span>Return to list</span>
  </button>
</ng-template>
